//- 机制借鉴 https://github.com/pugjs/pug/issues/2176#issuecomment-160566705
doctype html
html(lang="en")
    head
        meat(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0" )
        title #{htmlWebpackPlugin.options.title}
    body
        block contents
